<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 mat-dialog-title>
      {{ 'PLANT.PLANNED_CHANGES.TITLE' | translate }}
    </h2>
    <span mat-dialog-close class="mdi mdi-close-outline"></span>
  </div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PLANNED_CHANGES.SOURCE_NAME' | translate }}
      </mat-label>
      <mtx-select
        appearance="outline"
        [items]="sourceList"
        bindValue="id"
        bindLabel="nameSource"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более
      символов"
        formControlName="plantSourceId"
      ></mtx-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PLANNED_CHANGES.PROCESS_NAME' | translate }}
      </mat-label>
      <mtx-select
        [items]="processList"
        bindValue="id"
        bindLabel="processName"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более
      символов"
        formControlName="plantProcessId"
      ></mtx-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PLANNED_CHANGES.PLANNED_CHANGE' | translate }}
      </mat-label>

      <input matInput type="text" formControlName="plannedChange" />

      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PLANNED_CHANGES.CHANGE_YEAR' | translate }}
      </mat-label>
      <input matInput formControlName="changeYear" type="number" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" *ngIf="!viewMode">
    <button mat-raised-button mat-dialog-close color="warn">
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
