<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title></h2>

  <mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="space-between none"
    fxLayoutGap="10px"
    style="overflow: visible;"
  >
    <div class="row">
      <label for="dicProductId" class="form-label">
        {{ 'PLANT.PRODUCT.FORM.PRODUCT_NAME' | translate }}
      </label>
      <ng-select
        [items]="dicProductList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="dicProductId"
        [ngClass]="{
          invalid:
            (f.dicProductId.touched || submitted) &&
            f.dicProductId.errors?.required
        }"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicModal('dicProduct')"
          >
            <small>{{ 'DIC_FORM.ADD_DIC' | translate }}</small>
          </button>
        </ng-template>
      </ng-select>
      <mat-error
        *ngIf="
          (f.dicProductId.touched || submitted) &&
          f.dicProductId.errors?.required
        "
      >
        <small>{{ 'ERROR_MESSAGE' | translate }}</small>
      </mat-error>
    </div>

    <div class="row">
      <label for="dicUnitId" class="form-label">
        <small>{{ 'PLANT.PRODUCT.FORM.DIC_UNIT' | translate }}</small>
      </label>
      <ng-select
        [items]="dicUnitList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="dicUnitId"
        [ngClass]="{
          invalid:
            (f.dicUnitId.touched || submitted) && f.dicUnitId.errors?.required
        }"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicModal('dicUnit')"
          >
            <small>{{ 'DIC_FORM.ADD_DIC' | translate }}</small>
          </button>
        </ng-template>
      </ng-select>
      <mat-error
        *ngIf="
          (f.dicUnitId.touched || submitted) && f.dicUnitId.errors?.required
        "
      >
        <small>{{ 'ERROR_MESSAGE' | translate }}</small>
      </mat-error>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-raised-button
      color="warn"
      type="button"
      mat-dialog-close
      (click)="hideProductModal()"
    >
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
