<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 mat-dialog-title>{{ 'PLANT.PRODUCT.TITLE' | translate }}</h2>
    <span mat-dialog-close class="mdi mdi-close-outline"></span>
  </div>

  <mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="space-between none"
    fxLayoutGap="10px"
    style="overflow: visible;"
  >
    <div class="row">
      <ng-select
        appearance="outline"
        placeholder="{{ 'PLANT.PRODUCT.FORM.PRODUCT_NAME' | translate }}"
        [items]="dicProductList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="dicProductId"
        [ngClass]="{
          'is-invalid':
            (f.dicProductId.touched || submitted) &&
            f.dicProductId.errors?.required
        }"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicModal('dicProduct')"
          >
            <small>{{ 'DIC_FORM.ADD_DIC' | translate }}</small>
          </button>
        </ng-template>
      </ng-select>
      <mat-error
        *ngIf="
          (f.dicProductId.touched || submitted) &&
          f.dicProductId.errors?.required
        "
      >
        <small>{{ 'ERROR_MESSAGE' | translate }}</small>
      </mat-error>
    </div>

    <div class="row">
      <ng-select
        appearance="outline"
        placeholder="{{ 'PLANT.PRODUCT.FORM.DIC_UNIT' | translate }}"
        [items]="dicUnitList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="dicUnitId"
        [ngClass]="{
          'is-invalid':
            (f.dicUnitId.touched || submitted) && f.dicUnitId.errors?.required
        }"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicModal('dicUnit')"
          >
            <small>{{ 'DIC_FORM.ADD_DIC' | translate }}</small>
          </button>
        </ng-template>
      </ng-select>
      <mat-error
        *ngIf="
          (f.dicUnitId.touched || submitted) && f.dicUnitId.errors?.required
        "
      >
        <small>{{ 'ERROR_MESSAGE' | translate }}</small>
      </mat-error>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="warn" type="button" mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
