<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>
    {{ 'PLANT.PLANT__TITLE' | translate }}
  </h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Наименование</mat-label>
      <input matInput formControlName="namePlant" type="text" />
      <mat-error>
        Не указано наименование
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Область</mat-label>
      <mat-select
        formControlName="oblastId"
        (ngModelChange)="oblastChange($event)"
      >
        <mat-option *ngFor="let obl of oblast" [value]="obl.id">
          {{ obl.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        Не выбрано область
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Город</mat-label>
      <mat-select
        formControlName="regionId"
        (ngModelChange)="regionChange($event)"
      >
        <mat-option *ngFor="let reg of region" [value]="reg.id">
          {{ reg.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        Не выбрано регион
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Сельский округ</mat-label>
      <mat-select
        formControlName="subRegionId"
        (ngModelChange)="subRegionChange($event)"
      >
        <mat-option *ngFor="let subReg of subRegion" [value]="subReg.id">
          {{ subReg.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Село</mat-label>
      <mat-select
        formControlName="villageId"
        (ngModelChange)="villageChange($event)"
      >
        <mat-option *ngFor="let vil of village" [value]="vil.id">
          {{ vil.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Географическое место</mat-label>
      <input matInput formControlName="address" type="text" />
    </mat-form-field>

    <mat-checkbox formControlName="inactive">Активен</mat-checkbox>
    
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-raised-button
      mat-dialog-close
      color="warn"
      (click)="hidePlantModal()"
    >
      Отмена
    </button>
    <button mat-raised-button color="primary" type="submit">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
