<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>
    {{ 'PLANT.TITLE' | translate }}
  </h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'PLANT.FORM.NAME' | translate }}</mat-label>
      <input matInput formControlName="namePlant" type="text" />
      <mat-error>
        {{ 'PLANT.FORM.VALIDATOR.NAME' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>{{ 'PLANT.FORM.OBLAST' | translate }}</mat-label>
      </mat-label>
      <mat-select
        formControlName="oblastId"
        (ngModelChange)="oblastChange($event)"
      >
        <mat-option *ngFor="let obl of oblast" [value]="obl.id">
          {{ obl.name }}
        </mat-option>
      </mat-select>
      <mat-error>{{ 'PLANT.FORM.VALIDATOR.OBLAST' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>{{ 'PLANT.FORM.REGION' | translate }}</mat-label>
      </mat-label>
      <mat-select
        formControlName="regionId"
        (ngModelChange)="regionChange($event)"
      >
        <mat-option *ngFor="let reg of region" [value]="reg.id">
          {{ reg.name }}
        </mat-option>
      </mat-select>
      <mat-error>{{ 'PLANT.FORM.VALIDATOR.REGION' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>{{ 'PLANT.FORM.SUBREGION' | translate }}</mat-label>
      </mat-label>
      <mat-select
        formControlName="subRegionId"
        (ngModelChange)="subRegionChange($event)"
      >
        <mat-option *ngFor="let subReg of subRegion" [value]="subReg.id">
          {{ subReg.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>{{ 'PLANT.FORM.VILLAGE' | translate }}</mat-label>
      </mat-label>
      <mat-select
        formControlName="villageId"
        (ngModelChange)="villageChange($event)"
      >
        <mat-option *ngFor="let vil of village" [value]="vil.id">
          {{ vil.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>{{ 'PLANT.FORM.ADDRESS' | translate }}</mat-label>
      </mat-label>
      <input matInput formControlName="address" type="text" />
    </mat-form-field>

    <mat-checkbox formControlName="inactive">
      {{ 'PLANT.FORM.INACTIVE' | translate }}
    </mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-raised-button
      mat-dialog-close
      color="warn"
      (click)="hidePlantModal()"
    >
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
