<h3 class="plant__item-title">{{ 'PLANT.SAMPLING.TITLE' | translate }}</h3>
<button
  mat-raised-button
  color="primary"
  (click)="openSamplingDialog()"
  *ngIf="plantId"
>
  {{ 'CREATE' | translate }}
</button>
<div class="angular-slickgrid" id="demo-container">
  <angular-slickgrid
    gridId="plant-sampling-grid"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onClick)="
      onCellClicked($any($event).detail.eventData, $any($event).detail.args)
    "
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  ></angular-slickgrid>
</div>
