/* Border Color */
.invalid {
  border: 1px solid red;
  border-radius: 5px
}

.mat-select-panel {
  overflow: hidden !important;
}

.search {
  border-top: 2px solid rgba(0, 0, 0, 0.09);
  height: 44px;
  padding-top: 10px;
  text-align: right;
}

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.09);
  height: 44px;
  padding: 10px;
  text-align: right;

}

.custom-panel {
  max-height: 200px;
  overflow: auto;
}
