<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 mat-dialog-title>{{ 'PLANT.PROCESS.TITLE' | translate }}</h2>
    <span mat-dialog-close class="mdi mdi-close-outline"></span>
  </div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'PLANT.PROCESS.FORM.PROCESS_NAME' | translate }}</mat-label>
      <mtx-select
        formControlName="dicProcessId"
        [items]="dicProcessList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        [multiple]="false"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('dicProcess')"
          >
            {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </ng-template>
      </mtx-select>
      <mat-error>{{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.SUBPROCESS_NAME' | translate }}
      </mat-label>
      <mtx-select
        [items]="subProccessesList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        [multiple]="true"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="subProccesses"
        [closeOnSelect]="false"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('dicSubProcess')"
          >
            {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </ng-template>
      </mtx-select>

      <mat-error>{{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.MATERIALS' | translate }}
      </mat-label>
      <mtx-select
        [items]="dicMaterialsList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        [multiple]="true"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="materials"
        [closeOnSelect]="false"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('dicMaterial')"
          >
            {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </ng-template>
      </mtx-select>
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.ODDS_LEVEL' | translate }}
      </mat-label>
      <input matInput formControlName="oddsLevel" />
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.AMOUNT_CONSUMED' | translate }}
      </mat-label>
      <textarea matInput formControlName="amountConsumed"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CALORIFIC' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingCalorific"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CONVERSION' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingConversion"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CARBON' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingCarbon"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    *ngIf="!viewMode"
  >
    <button type="button" mat-raised-button color="warn" mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="submit" mat-raised-button color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
