<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ 'PLANT.PROCESS.TITLE' | translate }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'PLANT.PROCESS.FORM.PROCESS_NAME' | translate }}</mat-label>
      <mat-select formControlName="dicProcessId">
        <div class="custom-panel">
          <mat-option
            *ngFor="let process of dicProcessList"
            [value]="process.id"
          >
            {{ process.name }}
          </mat-option>
        </div>
        <footer>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('dicProcess')"
          >
          {{ 'DIC_FORM.ADD_DIC' | translate }}

          </button>
        </footer>
      </mat-select>
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.SUBPROCESS_NAME' | translate }}
      </mat-label>
      <mat-select formControlName="subProccesses" multiple>
        <div class="custom-panel">
          <mat-option
            *ngFor="let subProccess of subProccessesList"
            [value]="subProccess.id"
          >
            {{ subProccess.name }}
          </mat-option>
        </div>
        <footer>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('subProccesses')"
          >
          {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </footer>
      </mat-select>
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.PROCESS.FORM.MATERIALS' | translate }}</mat-label>
      <mat-select formControlName="materials" multiple>
        <div class="custom-panel">
          <mat-option
            *ngFor="let material of dicMaterialsList"
            [value]="material.id"
          >
            {{ material.name }}
          </mat-option>
        </div>
        <footer>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormDialog('dicMaterial')"
          >
          {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </footer>
      </mat-select>
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.ODDS_LEVEL' | translate }}
      </mat-label>
      <input matInput formControlName="oddsLevel" />
      <mat-error>
        {{ 'PLANT.PROCESS.FORM.VALIDATOR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.AMOUNT_CONSUMED' | translate }}
      </mat-label>
      <textarea matInput formControlName="amountConsumed"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CALORIFIC' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingCalorific"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CONVERSION' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingConversion"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.PROCESS.FORM.CALCULATION_CARBON' | translate }}
      </mat-label>
      <textarea matInput formControlName="calculatingCarbon"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      type="button"
      mat-raised-button
      color="warn"
      mat-dialog-close
      (click)="hideProcessModal()"
    >
      {{ 'CANCEL' | translate }}
    </button>
    <button type="submit" mat-raised-button color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
