<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <a mat-button routerLink="/common/home" class="nav-link">
        <h1>Кадастр</h1>
      </a>
      <a
        mat-button
        [matMenuTriggerFor]="menuAdministration"
        *ngIf="(!isDeclarant && !isValidator) || isAdmin"
      >
        Администрирование
      </a>

      <mat-menu #menuAdministration="matMenu">
        <a
          mat-button
          routerLink="/common/administration/users"
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Пользователи
        </a>
      </mat-menu>

      <a
        *ngIf="!isValidator"
        mat-button
        routerLink="/common/plant"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Установки
      </a>

      <a
        *ngIf="!isValidator"
        mat-button
        routerLink="/common/cadaster-report"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Отчеты
      </a>

      <a
        *ngIf="!isDeclarant || isValidator"
        mat-button
        routerLink="/common/cadaster-report-check"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Проверка
      </a>

      <span class="navbar-spacer"></span>

      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span fxShow fxHide.xs>
          {{ account ? account.name : "Не найден" }}
        </span>
      </button>

      <mat-menu
        #userMenu="matMenu"
        xPosition="before"
        yPosition="above"
        [overlapTrigger]="false"
      >
        <a mat-menu-item [routerLink]="['/common/administration/profile']">
          <mat-icon>person</mat-icon>
          <span>Профайл</span>
        </a>

        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </a>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
