<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <h1 class="">КАДАСТР</h1>
            <mat-card-title>Вход</mat-card-title>
            <mat-card-subtitle>в систему Кадастр</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input id="loginInput" matInput placeholder="Логин" formControlName="login" autocomplete="login"
                        type="text">
                    <mat-error id="requiredLoginError" *ngIf="loginForm.controls['login'].hasError('required')">
                        Пожалуйста, введите значения
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input id="passwordInput" matInput placeholder="Пароль" formControlName="password" type="password"
                        autocomplete="current-password">
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
                        Пожалуйста, введите значения
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <mat-slide-toggle formControlName="rememberMe" ngDefaultControl>Запомнить мой логин</mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                    (click)="login()">Войти</button>

                <button mat-button id="registration" (click)="register()" type="button">
                    Зарегестрироваться
                </button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>