::ng-deep.mat-form-field-appearance-standard .mat-form-field-flex {
  background: antiquewhite !important;
}

.report__header {
  padding: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template: 100px 100px;
  gap: 5px;
  align-items: center;
  grid-template-areas:
    '. .'
    '. .';
  font-weight: bold;
  font-size: 16px;
}

.report__header .item span {
  padding-left: 5px;
  font-size: 18px;
  color: #2d8d90;
}

.btn {
  position: absolute;
  bottom: 50px;
  right: 40px;
  z-index: 1000;
}

.btn button {
  background-color: #4bb543;
  color: #fff
}
