<div class="row mt-5">
  <div class="col-2">
    <ul class="list-group list-group">
      <a
        class="list-group-item list-group-item-action"
        aria-current="true"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="[
          '/cadaster-report-list',
          reportCadasterId,
          'actual-emission'
        ]"
      >
        ActualEmission
      </a>
      <a
        class="list-group-item list-group-item-action"
        routerLinkActive="active"
        [routerLink]="[
          '/cadaster-report-list',
          reportCadasterId,
          'parameter-calc'
        ]"
      >
      Параметры
      </a>
      <a
        class="list-group-item list-group-item-action"
        routerLinkActive="active"
        [routerLink]="[
          '/cadaster-report-list',
          reportCadasterId,
          'actual-emission2'
        ]"
      >
        Example 3
      </a>
    </ul>
  </div>

  <div class="col">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
