<div class="row mt-3">
  <div class="col">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let report of cdrReportRoute">
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            aria-current="page"
            [routerLink]="[report.name]"
          >
            {{ report.title }}
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
</div>
