<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h3 mat-dialog-title>
      {{ 'PLANT.ACTIVITY.TITLE' | translate }}
    </h3>
    <span mat-dialog-close class="mdi mdi-close-outline"></span>
  </div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>
        <mat-label>
          {{ 'PLANT.ACTIVITY.FORM.ROOT_ACTIVITY_NAME' | translate }}
        </mat-label>
      </mat-label>
      <mat-select
        formControlName="rootActivityId"
        (ngModelChange)="rootActivityChange($event)"
      >
        <mat-option
          *ngFor="let rootAct of dicRootActivityList"
          [value]="rootAct.id"
        >
          {{ rootAct.nameRu }}
        </mat-option>
      </mat-select>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>
          {{ 'PLANT.ACTIVITY.FORM.ACTIVITY_NAME' | translate }}
        </mat-label>
      </mat-label>
      <mat-select formControlName="activityId">
        <mat-option *ngFor="let act of dicActivityList" [value]="act.id">
          {{ act.nameRu }}
        </mat-option>
      </mat-select>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        <mat-label>
          {{ 'PLANT.ACTIVITY.FORM.DIC_UNIT_NAME' | translate }}
        </mat-label>
      </mat-label>
      <mat-select formControlName="dicUnitId">
        <mat-option *ngFor="let dicUnit of dicUnitList" [value]="dicUnit.id">
          {{ dicUnit.name }}
        </mat-option>
      </mat-select>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    *ngIf="!viewMode"
  >
    <button mat-raised-button mat-dialog-close color="warn">
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
