<div class="reprot__item-title">
  <h2>
    {{ 'CDR_REPORTS.PRODUCT.TITLE' | translate }}
  </h2>
</div>
<angular-slickgrid
  gridId="report-product"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
></angular-slickgrid>
