<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Приборы</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>
        Наименование измерительного прибора
      </mat-label>
      <input matInput formControlName="nameDevice" />
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Расположение
      </mat-label>
      <input matInput formControlName="identificationNumber" />
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        единица измерений
      </mat-label>
      <input matInput formControlName="unitDevice" />
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        нижний предел
      </mat-label>
      <input matInput formControlName="lowerLimit" />
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        верхний предел
      </mat-label>
      <input matInput formControlName="upperLimit" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Указанная неопределенность
      </mat-label>
      <input matInput formControlName="specifiedUncertainty" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      type="button"
      mat-raised-button
      color="warn"
      mat-dialog-close
      (click)="hidePlantDeviceModal()"
    >
      Отмена
    </button>
    <button type="submit" mat-raised-button color="primary">Сохранить</button>
  </mat-dialog-actions>
</form>
