<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <h2 mat-dialog-title>{{ 'PLANT.DEVICE.TITLE' | translate }}</h2>
    <span mat-dialog-close class="mdi mdi-close-outline"></span>
  </div>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'PLANT.DEVICE.FORM.NAME_DEVICE' | translate }}</mat-label>
      <input matInput formControlName="nameDevice" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.DEVICE.FORM.NAME_DEVICE' | translate }}</mat-label>
      <input matInput formControlName="identificationNumber" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.DEVICE.FORM.UNIT_DEVICE' | translate }}</mat-label>
      <input matInput formControlName="unitDevice" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.DEVICE.FORM.LOWER_LIMIT' | translate }}</mat-label>
      <input matInput formControlName="lowerLimit" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.DEVICE.FORM.UPPER_LIMIT' | translate }}</mat-label>
      <input matInput formControlName="upperLimit" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.DEVICE.FORM.SPECIFIED_UNCERTAINTY' | translate }}
      </mat-label>
      <input matInput formControlName="specifiedUncertainty" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    *ngIf="!viewMode"
  >
    <button type="button" mat-raised-button color="warn" mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
    <button type="submit" mat-raised-button color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
