<div class="plant__list">
  <button mat-raised-button color="primary" (click)="openPlantDialog()">
    {{ 'CREATE' | translate }}
  </button>

  <div class="angular-slickgrid" id="demo-container">
    <angular-slickgrid
      gridId="plant-grid"
      [columnDefinitions]="columnDefinitions"
      [gridOptions]="gridOptions"
      [dataset]="dataset"
      (onClick)="
        onCellClicked($any($event).detail.eventData, $any($event).detail.args)
      "
      (onAngularGridCreated)="angularGridReady($any($event).detail)"
    ></angular-slickgrid>
  </div>

  <div class="plant__tabs-header">
    <nav mat-tab-nav-bar>
      <a
        *ngFor="let plant of plantRoute"
        mat-tab-link
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="[plant.name]"
      >
        {{ plant.title }}
      </a>
    </nav>
  </div>
  <div class="plant__tabs-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
