<div class="plant__list">
  <button mat-raised-button color="primary" (click)="openPlantDialog()">
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ 'CREATE' | translate }}
  </button>

  <div class="angular-slickgrid" id="demo-container">
    <angular-slickgrid
      gridId="plant-grid"
      [columnDefinitions]="columnDefinitions"
      [gridOptions]="gridOptions"
      [dataset]="dataset"
      (onClick)="
        onCellClicked($any($event).detail.eventData, $any($event).detail.args)
      "
      (onAngularGridCreated)="angularGridReady($any($event).detail)"
    ></angular-slickgrid>
  </div>

  <nav mat-tab-nav-bar backgroundColor="primary">
    <a
      *ngFor="let plant of plantRoute"
      mat-tab-link
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[plant.src]"
      routerLinkActive
      (click)="activeLink = plant.src"
      [active]="activeLink == plant.src"
    >
      {{ plant.name }}
    </a>
  </nav>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
