<div class="plant-item-header">
  <div fxFlex="8">
    <button
      mat-raised-button
      color="primary"
      (click)="openProductDialog()"
      *ngIf="plantId"
    >
      {{ 'CREATE' | translate }}
    </button>
  </div>

  <div>
    <h3>{{ 'PLANT.PRODUCT.TITLE' | translate }}</h3>
  </div>
</div>

<div class="angular-slickgrid" id="demo-container">
  <angular-slickgrid
    gridId="product-grid"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onClick)="
      onCellClicked($any($event).detail.eventData, $any($event).detail.args)
    "
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  ></angular-slickgrid>
</div>
