<div
  class="report-item-header"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <h4>{{ "CDR_REPORTS.PLAN.TITLE" | translate }}</h4>
  <button mat-raised-button color="primary" (click)="openPlanFormDialog()">
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ "CREATE" | translate }}
  </button>
</div>
<angular-slickgrid
  gridId="plan"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
