<div class="row">
  <div class="col" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-select
      appearance="legasy"
      style="width: 100%;"
      [items]="collection"
      autofocus
      bindValue="id"
      bindLabel="name"
      appendTo="body"
      (change)="onChange($event)"
      [clearable]="false"
      [(ngModel)]="selectedId"
      [clearable]="clearStatus"
      (clear)="clearValue()"
    >
      <ng-template ng-footer-tmp>
        <div fxLayoutAlign="center">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicDialog('dicUnit')"
          >
            Добавить
          </button>
        </div>
      </ng-template>
    </ng-select>

    <button
      *ngIf="false"
      mat-mini-fab
      color="warn"
      type="button"
      (click)="openCommentDialog()"
    >
      <fa-icon [icon]="faCommentDots"></fa-icon>
    </button>
  </div>
</div>
