<div class="report-item-header">
  <h4 *ngIf="kindId == 1">{{ "CDR_REPORTS.ACTIVITY.TITLE" | translate }}</h4>
  <h4 *ngIf="kindId !== 1">{{ "CDR_REPORTS.SIMPLE.ACTIVITY" | translate }}</h4>
</div>
<angular-slickgrid
  gridId="report-activity"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [datasetHierarchical]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
