.editor-group {
  position: relative;

}

.comment__textarea {
  position: absolute;
  left: -150px;
  right: -150px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);


}

.btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.edit-mode {
  background-color: rgb(75, 43, 128);
}
