<div class="editor-group">
  <input
    class="form-control my-input"
    type="text"
    (keydown.enter)="onSave($event)"
    [(ngModel)]="selectedId"
    [readonly]="!editMode"
   />
  <!-- <div class="form-check form-switch edit-mode pt-1">
    <input
      class="form-check-input"
      type="checkbox"
      id="flexSwitchCheckChecked"
      (change)="editModeChange($event)"
    />
  </div> -->
  <div class="comment__textarea mt-1">
    <div class="div" *ngIf="!editMode">
      <textarea
        class="form-control"
        rows="10"
        placeholder="comment"
        [(ngModel)]="comment"
        #myTextArea
      ></textarea>

      <div class="btns d-flex justify-content-end gap-3">
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="showHistory(content)"
        >
          <fa-icon [icon]="faHistory"></fa-icon> История
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="deleteComment()"
        >
          <fa-icon [icon]="faTrash"></fa-icon> Удалить Комментарий
        </button>
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          (click)="onSaveComment(myTextArea)"
        >
          <fa-icon [icon]="faSave"></fa-icon> Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
