<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <h1>Кадастр</h1>
      <a
        mat-button
        routerLink="/plant"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Установка
      </a>
      <a
        mat-button
        routerLink="/cadaster-report"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Отчет
      </a>
      <mat-form-field appearance="fill">
        <mat-select
          #selectedLang
          [value]="translate.currentLang"
          (selectionChange)="translate.use(selectedLang.value)"
        >
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
