<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <h1>Кадастр</h1>
      <a
        mat-button
        routerLink="/plant"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Установка
      </a>
      <a
        mat-button
        (click)="goToDashBoard()"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Отчет
      </a>
      <ng-container *ngIf="!authService.isLoggedIn()">
        <button
          mat-raised-button
          class="btn btn-link"
          (click)="openDialog()"
          style="background-color: #1db9ec; color: #fff;"
        >
          <fa-icon [icon]="faSignIn"></fa-icon>

          Login
        </button>
      </ng-container>

      <button
        mat-raised-button
        *ngIf="authService.isLoggedIn()"
        class="btn btn-link"
        style="background-color: #1db9ec; color: #fff;"
        (click)="logout()"
      >
        <i class="fas fa-sign-out-alt"></i>
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        Logout
      </button>

      <!-- <mat-form-field appearance="fill">
        <mat-select
          #selectedLang
          [value]="translate.currentLang"
          (selectionChange)="translate.use(selectedLang.value)"
        >
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
