<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ 'PLANT.SAMPLING.TITLE' | translate }}</h2>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'PLANT.SAMPLING.FORM.NAME' | translate }}</mat-label>
      <input matInput formControlName="nameSampling" type="text" />
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <div class="row">
      <label for="materials" class="form-label">
        {{ 'PLANT.SAMPLING.FORM.MATERIALS' | translate }}
      </label>
      <ng-select
        [items]="dicMaterialsList"
        bindValue="id"
        bindLabel="name"
        [hideSelected]="true"
        [minTermLength]="2"
        [multiple]="true"
        typeToSearchText="Пожалуйста, введите 2 или более символов"
        formControlName="materials"
        [closeOnSelect]="false"
        [ngClass]="{
          invalid:
            (f.materials.touched || submitted) && f.materials.errors?.required
        }"
      >
        <ng-template ng-footer-tmp>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openDicFormModal('dicMaterial')"
          >
            {{ 'DIC_FORM.ADD_DIC' | translate }}
          </button>
        </ng-template>
      </ng-select>
      <mat-error
        *ngIf="
          (f.materials.touched || submitted) && f.materials.errors?.required
        "
      >
        {{ 'ERROR_MESSAGE' | translate }}
      </mat-error>
    </div>

    <mat-form-field>
      <mat-label>{{ 'PLANT.SAMPLING.FORM.PARAM' | translate }}</mat-label>
      <textarea matInput formControlName="param" type="text"></textarea>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.SAMPLING.FORM.METHOD' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="methodSampling"
        type="text"
      ></textarea>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PLANT.SAMPLING.FORM.FREQUENCY' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="frequencySampling"
        type="text"
      ></textarea>
      <mat-error>{{ 'ERROR_MESSAGE' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ 'PLANT.SAMPLING.FORM.PERIOD_TRANSMISSION' | translate }}
      </mat-label>
      <textarea
        matInput
        formControlName="periodTransmission"
        type="text"
      ></textarea>
      <mat-error>
        {{ 'ERROR_MESSAGE' | translate }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button
      type="button"
      mat-raised-button
      color="warn"
      mat-dialog-close
      (click)="hideSamplingModal()"
    >
      {{ 'CANCEL' | translate }}
    </button>
    <button type="submit" mat-raised-button color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
