<h2 mat-dialog-title>
  Источники
</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Наименование источника</mat-label>
      <input matInput formControlName="nameSource" type="text" />
      <mat-error *ngIf="myError('nameSource', 'required')">
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Характеристика используемой технологии</mat-label>
      <textarea matInput formControlName="characteristic"></textarea>
      <mat-error *ngIf="myError('characteristic', 'required')">
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Установленная мощность (единицы измерения) (при наличии)
      </mat-label>
      <textarea matInput formControlName="installedCapacity"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Время работы</mat-label>
      <input matInput formControlName="workinHours" type="text" />
      <mat-error *ngIf="myError('workinHours', 'required')">
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>
    
    <div class="btns">
      <button
        mat-raised-button
        mat-dialog-close
        color="warn"
        (click)="hideSourceModal()"
      >
        Отмена
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        mat-dialog-close
        [disabled]="!form.valid"
      >
        Сохранить
      </button>
    </div>
  </form>
</mat-dialog-content>
