<h3>{{ 'PLANT.PLANNED_CHANGES.TITLE' | translate }}</h3>
<button
  mat-raised-button
  color="primary"
  (click)="openPlannedChangesDialog()"
  *ngIf="plantId"
>
  {{ 'CREATE' | translate }}
</button>

<div class="angular-slickgrid" id="demo-container">
  <angular-slickgrid
    gridId="planned__changes"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  ></angular-slickgrid>
</div>
