<h2>
  Параметры, использованные для расчета коэффициентов окисления топлива
</h2>
<div id="demo-container">
  <angular-slickgrid
    gridId="parameter-calc"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [datasetHierarchical]="dataset"
    (onCellChange)="
      onCellChanged($any($event).detail.eventData, $any($event).detail.args)
    "
    (onClick)="
      onCellClicked($any($event).detail.eventData, $any($event).detail.args)
    "
    (onAngularGridCreated)="angularGridReady($any($event).detail)"
  ></angular-slickgrid>
</div>
