<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ dicTitle }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="hideDicFormModal()"
  ></button>
</div>
<div class="modal-body">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="name" class="form-label"> {{ dicLabel }}</label>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          (keypress)="checkValue($event)"
          (paste)="checkValue($event)"
          [ngClass]="{
            'is-invalid': submitted && f.name.errors
          }"
        />

        <button type="submit" class="btn btn-success">Добавить</button>
      </div>

      <div
        class="text-danger"
        *ngIf="(f.name.touched || submitted) && f.name.errors?.required"
      >
        <small>Поле обязательно для заполнения</small>
      </div>
    </div>
  </form>
</div>
