<h4 mat-dialog-title>{{ dicTitle }}</h4>
<mat-dialog-content>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>
          {{ dicLabel }}
        </mat-label>
        <input
          matInput
          formControlName="name"
          (keypress)="checkValue($event)"
          (paste)="checkValue($event)"
        />
        <mat-error
          *ngIf="(f.name.touched || submitted) && f.name.errors?.required"
        >
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Добавить</button>
    </div>
  </form>
</mat-dialog-content>
