<div class="reprot__item-title">
  <h3>{{ 'CDR_REPORTS.ACTUAL_EMISSION.TITLE' | translate }}</h3>
</div>
<angular-slickgrid
  gridId="actual-emission"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [datasetHierarchical]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
