<div
  class="reprot__item-title"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <h2>{{ 'CDR_REPORTS.ACTIVITY_CHANGE.TITLE' | translate }}</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="openActivityChangeDialog()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ 'CREATE' | translate }}
  </button>
</div>

<angular-slickgrid
  gridId="report-activity-change"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
