<div
  class="report-item-header"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <button
    mat-raised-button
    color="primary"
    (click)="openActivityChangeDialog()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ "CREATE" | translate }}
  </button>
  <h4>{{ "CDR_REPORTS.ACTIVITY_CHANGE.TITLE" | translate }}</h4>
</div>

<angular-slickgrid
  gridId="report-activity-change"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
