/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@mdi/font/css/materialdesignicons.css';
/* .slickgrid-container .grid-canvas .slick-cell {
  border: 1px solid rgb(231, 228, 228) !important;

} */
.slickgrid-container .slick-preheader-panel.ui-state-default .slick-header-columns .slick-header-column {
  display: flex !important;
  justify-content: center !important;
}


.header__color {
  font-weight: bold;
}

.inactive__header {
  background-color: #A0A9B2 !important;
  color: #fff !important;

}

.sub__header-material {
  background-color: #DCEBF1 !important;

}

.sub__header-process {
  background-color: #FEFEDF !important;

}

.border {
  border: 1px solid red !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  width: 100%;
}

.misc-bottom-padding {
  margin: 8px 0 20px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

.mat-radio-label {
  margin: 0 15px 0 0;
}

.title-center {
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 10px;
}


.slickgrid-container .slick-header-columns .slick-header-column.ui-state-default {
  font-size: 12px;
  border: 1px solid rgb(231, 228, 228) !important;
}

.angular-slickgrid {
  margin: 10px 0;
}





snack-bar-container.success {
  background-color: green;
  color: white !important;

}

snack-bar-container.error {
  background-color: red;
  color: white !important;

}

snack-bar-container.notification {
  font-size: 18px !important;
  color: white !important;
  font-weight: bold;
}

.mat-button-wrapper {

}

/* mat-dialog overlay false */
.dialog-bg-trans {
  background-color: transparent;
}


.login-container {
  height: 80vh;
}

.login-actions {
  display: grid !important;
  margin-left: unset !important;
}