<div class="report-item-header">
  <h4>{{ "CDR_REPORTS.SIMPLE.CARBON_UNIT" | translate }}</h4>
</div>
<angular-slickgrid
  gridId="carbon-unit-simple"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
  (onAngularGridCreated)="angularGridReady($any($event).detail)"
  (onCellChange)="
    onCellChanged($any($event).detail.eventData, $any($event).detail.args)
  "
  (onClick)="
    onCellClicked($any($event).detail.eventData, $any($event).detail.args)
  "
></angular-slickgrid>
